.allText {
    color: white;
}

.backbone-container {
    position: relative;
    opacity: 0;
    transform: translateY(50px); /* Initial position below */
    transition: opacity 2s ease, transform 2s ease; /* Animation duration and timing function */
}

.backbone-container.show {
    opacity: 1;
    transform: translateY(0); /* Move the backbone to its original position */
}

.timeline-item {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
.timeline-item.show {
    opacity: 1;
  }

.title-1910 {
    font-weight: bold;
    font-size: 20px;
    margin-top: -20%;
}

.expl-1910 {
    font-size: 15px;
    margin-top: 9.5%;
    margin-right: 90%;
}

.title-1930 {
    font-weight: bold;
    font-size: 15px;
    margin-top: -34%;
    margin-left: 19%;
    margin-right: 69%;
}

.text-1930 {
    font-size: 14px;
    margin-top: 20%;
    margin-left: 17%;
    margin-right: 70%;
}

.text-1936 {
    font-size: 14px;
    margin-top: -49.5%;
    margin-left: 34.5%;
    margin-right: 54%;
}

.reefermadness {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-left: 35.5%;
    margin-top: 1.4%;
}

.mjTaxAct {
    font-size: 14px;
    margin-left: 36.5%;
    margin-top: 17%;
    margin-right: 50%;
}

.text-1951 {
    font-size: 14px;
    margin-left: 54.2%;
    margin-top: -38%;
    margin-right: 31%;
}

.text-1970 {
    font-size: 14px;
    margin-left: 60.3%;
    margin-top: 16.8%;
    margin-right: 28.5%;
}

.warondrugs {
    font-size: 14px;
    margin-left: 77%;
    margin-top: -43%;
    margin-right: 10%;
}

.text-1980 {
    font-size: 14px;
    margin-left: 74.9%;
    margin-top: 12%;
    margin-right: 13%;
}

.title-1996 {
    font-weight: bold;
    font-size: 20px;
    margin-top: -20%;
    margin-left: 91%;
    margin-right: -3%;
}

.text-1996 {
    font-size: 14px;
    margin-left: 91%;
    margin-top: 0.5%;
    margin-right: -3%;
}